.gameContainer {
    background-color: lightslategray;
}

.memoryCards {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: center;
    align-items: flex-start;
}

.wrongGuesses {
    font-size: 1.5rem;
    font-weight: 700;
}